$color-primary: #00c853;
$color-black: #222126;
$color-black-light: #32313aaf;
$color-black-light2: #32313a54;
$color-black-light3: #32313a11;

.Login {
	background-color: $color-black-light3;
	padding-bottom: 3rem;
	overflow: hidden;
	height: 100vh;
}

.NavBar {
	width: 100%;
	padding: 2rem 3rem;
	background-color: #ffffff;

	&LogoContainer {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	&Logo {
		font-size: 2rem;
		cursor: pointer;

		
	}
}

.Container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 5rem;
}

.Heading {
	font-weight: 300;
	font-size: 4.5rem;
	margin-bottom: 5rem;

}

.Form {
	padding: 4rem;
	width: 30%;
	background-color: #ffffff;
	border-radius: 0.5rem;
	@media only screen and (max-width: 56.25rem) {
		width: 90%;
	}

	&Label {
		display: block;
		font-size: 1.2rem;
		margin-bottom: 1rem;
	}

	&Input {
		display: block;
		width: 100%;
		padding: 0.8rem;
		border-radius: 0.5rem;
		border: 1px solid $color-black-light2;
		margin-bottom: 1rem;

		&:focus {
			outline: none;
		}
	}

	&ButtonContainer {
		width: 100%;
		text-align: center;
		margin: 3rem 0;
	}

	&Button {
		padding: 1rem 2rem;
		width: 100%;
		border: none;
		border-radius: 0.5rem;
		color: $color-black;
		background-color: $color-primary;
	}

	&AlreadyContainer {
		text-align: center;
	}

	&AlreadyText {
		font-size: 1.5rem;

		span {
			color: $color-primary;
			cursor: pointer;
		}
	}
}
